@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --flesh-600: #d80d19;
  --flesh-500: #e93d49;
  --flesh-400: #f16974;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @media (prefers-color-scheme: dark) {
    color: var(--background);
    background: var(--foreground);
  };

  ::selection {
    background: var(--flesh-600);
    color: var(--background);
  }
}
